.container-card{
    background: rgb(127, 123, 163);
    margin-top: 5em;
    margin-right: 2em;

    padding-bottom: 3em;
    border-radius: .8em;
}

.container-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-card-titulo{
    margin-left: 50%;
}

.delete-card{
    cursor: pointer;
}

.container-card-descricao{
    margin-left: 10%;
}